<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset name="basic"
		label="COM_DDC_BASIC_OPTIONS"
		description="COM_DDC_BASIC_OPTIONS_DESC">
		<field name="google_api_key"
		    type="text"
		    label="COM_DDC_GOOGLE_API_KEY"
		    description="COM_DDC_GOOGLE_API_KEY_DESC"
		/>
		<field name="required_account" type="radio"
			default="0"
			class="btn-group"
			label="COM_DDC_REQUIRED_ACCOUNT"
			description="COM_DDC_REQUIRED_ACCOUNT_DESC">

			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="url_terms"
		    type="url"
			default=""
			label="COM_DDC_URL_TERMS"
			description="COM_DDC_URL_TERMS_DESC"
		/>
    </fieldset>
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_ddcshopbox"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>